.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navList {
    display: flex;
    justify-content: space-around;
    list-style: none ;
    &Item {
        margin: 0 10px;
        min-width: 50px;
    }

}

.darkTheme {
    background-color: grey;
    color: white;
}

.lightTheme {
    background-color: white;
    color: black;
}