@use '../../common/Styles/template';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navList {
    display: flex;
    justify-content: space-around;
    list-style: none ;
    &Item {
        margin: 0 10px;
        min-width: 50px;
    }

}
.darkTheme {
    @extend %darkTheme;
}  

.lightTheme {
   @extend %lightTheme;
}